body {
    background: white;
}

@-webkit-keyframes flash-red {
  0%   { background: rgba(255, 0, 0, 0.9); }
  20%  { background: rgba(255, 0, 0, 0.6); }
  100% { background: rgba(255, 0, 0, 0.0); }
}


.flash {
  -webkit-animation: flash-red 300ms;
}